.company-banner {
  position: relative;
  overflow: hidden;
}

.company-wrapper {
  display: flex;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}
