.Form-Place-Holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 388px;
    margin-bottom: px;
}

.Input-Place-Holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 12px;
}

/* First Last Name */

.First-Last-Name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.First-Last-Name label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    align-items: flex-start;
}

/* FirstName Container */

.FirstName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}


.FirstName input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* LastName Container */

.LastName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.LastName input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Email */

.Email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 11px;
}

.Email input {
    width: 100%;
}

/* Password */

.Password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 11px;
}

.Password input {
    width: 100%;
}

/* Register Button  */

.Register-btn{
    background-color: #017777;
    border: 1px solid #044645;
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    width: 100%;
}

.Register-btn:hover {
    /* background-color: #044645; */
    cursor: pointer;
}
